<% form_for @track, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <% if @track.track? %>
    <p>
      <label>Current track:</label><br />
      <%= mp3_player @track.track.url%>
    </p>
    <p>
      <%= f.label :track, "Upload new track:" %><br />
      <%= f.file_field :track %>
    </p>
  <% else %>
    <p>
      <%= f.label :track %>
      <%= f.file_field :track %>
    </p>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
